@model dynamic
@{
  Layout = null;
}

<style>
  table {
    border-collapse: collapse;
    border: 1px solid gray;
  }

  td, span, th {
    font-size: .8em;
    font-family: Verdana, Helvetica, Sans-Serif;
    text-align: left;
  }

  span {
    font-style: italic;
  }

  th {
    font-size: .7em;
  }
</style>
<h3>Сертификаты ЭДО, истекающие через 3 недели и ранее</h3>
<table width="100%">
  <tr>
    <th>№ п/п</th>
    <th>ЭДО (назначение)</th>
    <th>Крипто-провайдер</th>
    <th>Издатель</th>
    <th>ФИО владельца</th>
    <th>Срок действия</th>
    <th>Департамент / Отдел </th>
    <th>ФИО отв.лица</th>
    <th>Место хранения</th>
  </tr>
  @{int i = 0; foreach (var qq in Model)
    {

  <tr>
    <td>@(++i)</td>
    <td>@qq.EDO</td>
    <td>@qq.Crypto</td>
    <td>@qq.Publisher</td>
    <td>@qq.FIO_owner</td>
    <td>@(qq.Srok != null ? qq.Srok.ToString("dd.MM.yy") : "")</td>
    <td>@qq.Department</td>
    <td>@qq.FIO_resp</td>
    <td>@qq.Storage</td>
  </tr>
    }
  }
</table>

