@model dynamic
@{
  Layout = null;
}
<style>
  table {
    border-collapse: collapse;
    border: 1px solid gray;
  }

  td, span, th {
    font-size: .8em;
    font-family: Verdana, Helvetica, Sans-Serif;
    text-align: left;
  }

  span {
    font-style: italic;
  }

  th {
    font-size: .7em;
  }
</style>
<h3>Сертификат ЭДО</h3>
<table width="100%">
  <tr>
    <th>ЭДО (назначение)</th>
    <th>Крипто-провайдер</th>
    <th>Издатель</th>
    <th>ФИО владельца</th>
    <th>Срок действия</th>
    <th>Департамент / Отдел </th>
    <th>ФИО отв.лица</th>
    <th>Место хранения</th>
  </tr>
  <tr>
    <td>@Model.EDO</td>
    <td>@Model.Crypto</td>
    <td>@Model.Publisher</td>
    <td>@Model.FIO_owner</td>
    <td>@(Model.Srok != null ? Model.Srok.ToString("dd.MM.yy") : "")</td>
    <td>@Model.Department</td>
    <td>@Model.FIO_resp</td>
    <td>@Model.Storage</td>
  </tr>
</table>
<p style="color: white; font-style: italic">@ViewBag.email</p>
