@model dynamic
@{
  Layout = null;
}
<style>
  table {
    border-collapse: collapse;
    border: 1px solid gray;
  }

  td, span, th {
    font-size: .8em;
    font-family: Verdana, Helvetica, Sans-Serif;
    text-align: left;
  }

  span {
    font-style: italic;
  }

  th {
    font-size: .7em;
  }
</style>
<h3>Реестр</h3>
<table width="100%">
  <tr>
    <th>№</th>
    <td>@Model.Nomer</td>
  </tr>
  <tr>
    <th>Дата</th>
    <td>@(Model.DateR != null ? Model.DateR.ToString("dd.MM.yy") : "")</td>
  </tr>
  <tr>
    <th>Статус</th>
    <td>@(Model.StatusID == 1 ? "Действующий" : Model.StatusID == 2 ? "Отменен" : Model.StatusID == 3 ? "Истек" : "Error")</td>
  </tr>
  <tr>
    <th>Тема</th>
    <td>@Model.Theme</td>
  </tr>
  <tr>
    <th>Файл</th>
    <td>@Html.Raw(Model.FileName == null ? "" : string.Format("<a href='http://{0}/code/jur/getfiler?data={1}'>Файл</a>", ViewBag.host, System.Web.HttpUtility.HtmlEncode(Model.FileName)))</td>
  </tr>
</table>
<p style="color: white; font-style: italic">@ViewBag.email</p>
