@model dynamic
@{
  ViewBag.Title = "Подтверждение поручения";
  //Layout = "_Layout.cshtml";
}

  <div style="padding: 10px 10px" class="container">
    <h2>@ViewBag.Title (@Model.Step)</h2>
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <table class="table" style="width: auto">
      <tr>
        <th>Номер поручения</th>
        <td>@Model.Numero</td>
      </tr>
      <tr>
        <th>Дата документа</th>
        <td>@(Model.RecuDate != null ? Model.RecuDate.ToShortDateString() : "")</td>
      </tr>
      <tr>
        <th>Тип документа</th>
        <td>@Model.DTName</td>
      </tr>
      <tr>
        <th>Договор</th>
        <td>@Model.trNameBrief</td>
      </tr>
      <tr>
        <th>Клиент</th>
        <td>@Model.ClnName</td>
      </tr>
      <tr>
        <th>Дата исполнения до</th>
        <td>@(Model.DateDog != null ? Model.DateDog.ToShortDateString() : "")</td>
      </tr>
      @if (!String.IsNullOrWhiteSpace(Model.FileName))
      {
        <tr>
          <th>Файл скана</th>
          <td>
            <a href="@Url.Action("GetFile", new { data = Model.FileName })">@Model.FileName</a>
          </td>
        </tr>
      }
    </table>

    @if (Model.IsConfirmed)
    {
      <h3>Поручение было подтверждено</h3>
    }
    else
    {
    <form method="post" class="form">
      <input type="hidden" name="id" value="@Model.id" />
      <input type="submit" value="Подтвердить" name="confirm" class="btn btn-primary" />
    </form>
    }
  </div>
